@model ControlPanel.ViewModels.NavViewModel

@{ 
	string agentSelectionClass = null;
	string groupSelectionClass = null;
	string skillSelectionClass = null;
	string routeSelectionClass = null;
	string reportSelectionClass = null;
	string monitoringSelectionClass = null;
	if (Model.ActiveController=="Groups")
	{
		groupSelectionClass = "active";
	}
	else if(Model.ActiveController == "Skills")
	{
		skillSelectionClass = "active";
	}
	else if (Model.ActiveController == "Routes")
	{
		routeSelectionClass = "active";
	}
	else if (Model.ActiveController == "Reports")
	{
		reportSelectionClass = "active";
	}
	else if(Model.ActiveController=="Monitoring")
	{
		monitoringSelectionClass = "active";
	}
	else
	{
		agentSelectionClass = "active";
	}
}
<h4></h4>

<nav>
	<ul class="nav nav-tabs">
		<li class="@agentSelectionClass">@Html.ActionLink("Агенты", "Index", "Agents")</li>
		<li class="@groupSelectionClass">@Html.ActionLink("Группы", "Index", "Groups")</li>
		<li class="@skillSelectionClass">@Html.ActionLink("Навыки", "Index", "Skills")</li>
		<li class="@routeSelectionClass">@Html.ActionLink("Маршруты", "Index", "Routes")</li>
		<li class="@reportSelectionClass">@Html.ActionLink("Отчеты", "Index", "Reports")</li>
		<li class="dropdown @monitoringSelectionClass">
			<a class="dropdown-toggle" data-toggle="dropdown">
				Мониторинг <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href=@Url.Action("TopAgents", "Monitoring")>Агенты</a></li>
				<li role="separator" class="divider"></li>
				<li><a href=@Url.Action("TopSkills", "Monitoring")>Навыки</a></li>
			</ul>
		</li>
	</ul>
</nav>