@{ 
	string agentSelectionClass = null;
	string groupSelectionClass = null;
	string skillSelectionClass = null;
	string routeSelectionClass = null;
	string reportSelectionClass = null;
	if (ViewBag.activeController=="Groups")
	{
		groupSelectionClass = "active";
	}
	else if(ViewBag.activeController == "Skills")
	{
		skillSelectionClass = "active";
	}
	else if (ViewBag.activeController == "Routes")
	{
		routeSelectionClass = "active";
	}
	else if (ViewBag.activeController == "Reports")
	{
		reportSelectionClass = "active";
	}
	else
	{
		agentSelectionClass = "active";
	}
}
<h4>@ViewBag.url</h4>

<nav>
	<ul class="nav nav-tabs">
		<li class="@agentSelectionClass">@Html.ActionLink("Агенты", "Index", "Agents")</li>
		<li class="@groupSelectionClass">@Html.ActionLink("Группы", "Index", "Groups")</li>
		<li class="@skillSelectionClass">@Html.ActionLink("Навыки", "Index", "Skills")</li>
		<li class="@routeSelectionClass">@Html.ActionLink("Маршруты", "Index", "Routes")</li>
		<li class="@reportSelectionClass">@Html.ActionLink("Отчеты", "Index", "Reports")</li>
	</ul>
	<h4>@ViewBag.SelectedCategory</h4>
</nav>