@model IEnumerable<ControlPanel.Models.AgentToSkill>

<h2>AgentSkills</h2>

<p>
	@Html.ActionLink("Добавить навык", "AddSkill", new { id = Model.First().AgentId })
</p>

<table class="table table-hover">
	<tr>
		<th>
			@Html.LabelFor(model=>model.FirstOrDefault().Skill.Name)
		</th>
		<th>
			@Html.LabelFor(model=>model.FirstOrDefault().Skill.Key)
		</th>
		<th>
			@Html.LabelFor(model=>model.FirstOrDefault().Level)
		</th>
		<th>
			@Html.LabelFor(model=>model.FirstOrDefault().BreakingMode)
		</th>
		<th>
			@Html.LabelFor(model=>model.FirstOrDefault().OrderIndex)
		</th>
		<th>
			@Html.LabelFor(model=>model.FirstOrDefault().Percent)
		</th>
		<th></th>
	</tr>

	@foreach(var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(skill => item.Skill.Name)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.Skill.Key)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.Level)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.BreakingMode)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.OrderIndex)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.Percent)
			</td>
			<td>
				<a href=@Url.Action("EditSkill", new { agentId = Model.First().AgentId, skillId = item.SkillId })><i class="fa fa-edit"></i></a>
				|
				<a href=@Url.Action("RemoveSkill", new { agentId = Model.First().AgentId, skillId = item.SkillId })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>

