@model ControlPanel.Models.Agent

<h2>AgentSkills</h2>

<p>
	@Html.ActionLink("Добавить навык", "AddSkill", new { id = Model.Id })
</p>

<table class="table table-hover">
	<tr>
		<th>Навык</th>
		<th>ID</th>
		<th>Уровень</th>
		<th>Режим прерываний</th>
		<th>Порядок</th>
		<th>Процент</th>
		<th></th>
	</tr>

	@foreach(var item in Model.AgentToSkills)
	{
		<tr>
			<td>

			</td>
			<td>
				@Html.DisplayFor(skill=>item.Id)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.Level)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.BreakingMode)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.OrderIndex)
			</td>
			<td>
				@Html.DisplayFor(skill=>item.Percent)
			</td>
			<td>
				@Html.ActionLink("Delete","RemoveSkill",new {id=Model.Id, skillId=item.Id })
			</td>
		</tr>

	}

</table>

