@model ControlPanel.Models.AgentToSkill

<h2>EditSkill</h2>

@using (Html.BeginForm())
{
	<div class="form-horizontal">
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.AgentId)
		@Html.HiddenFor(model => model.SkillId)
		@Html.HiddenFor(model => model.IsActive)

		<div class="form-group">
			@Html.Label("Навык", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<span class="form-control">@ViewBag.SkillName</span>
				</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Level, ViewBag.levels as SelectList, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.OrderIndex, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.OrderIndex, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.BreakingMode, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.BreakingMode, ViewBag.modes as SelectList, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Percent, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Percent, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save"  class="btn btn-default" />
			</div>
		</div>

	</div>
}
