@model IEnumerable <ControlPanel.Models.Agent>
<html>
<head>
	<title>Control Panel Agent</title>
</head>
<body>
	<h2>Index</h2>

	<p>
		@Html.ActionLink("Create NEW", "Create")
	</p>

	@using(Html.BeginForm("Index","Agents"))
	{
		<p>
			<strong>Логин: </strong> <input type="text" name="searchString"/>
			<input type="submit" value="Поиск"/>
		</p>
	}

	<table class="table table-hover">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Login)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Algorithm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.WorkloadMaxContactsCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsAlgorithmAllowServiceLevel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model=>model.Group.Name)
			</th>
			<th>

			</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(agentItem=>item.Name)
				</td>
				<td>
					@Html.DisplayFor(agentItem=>item.Login)
				</td>
				<td>
					@Html.DisplayFor(agentItem=>item.Algorithm)
				</td>
				<td>
					@Html.DisplayFor(agentItem=>item.WorkloadMaxContactsCount)
				</td>
				<td>
					@Html.DisplayFor(agentItem=>item.IsAlgorithmAllowServiceLevel)
				</td>
				<td>
					@Html.DisplayFor(agentItem=>item.IsActive)
				</td>
				<td>
					@Html.DisplayFor(agentItem=>item.Group.Name)
				</td>
				<td>
					@Html.ActionLink("Edit","Edit",new { id=item.Id}) |
					@Html.ActionLink("Delete","Delete",new { id=item.Id})
				</td>
			</tr>
		}

	</table>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</body>


</html>

