@using PagedList.Mvc
@using PagedList
@using ControlPanel.Helpers
@using ControlPanel.ViewModels
@model AgentsIndexViewModel


<h2>Index</h2>
<hr />

@*<ol class="breadcrumb h4">
	<li class="breadcrumb-item"><a href="#">Агенты</a></li>
	<li class="breadcrumb-item active">6.47" Смартфон Huawei P30 Pro 256 ГБ черный</li>
</ol>

<hr />*@

@*@using (Html.BeginForm("AddFormFile", "Agents", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<p>
			<input type="file" name="AddFromFile" />
			<input type="submit" value="Добавить из файла" />
		</p>
	}*@

<div class="row">
	<div class="col-md-1">
		@Html.ActionLink("Добавить", "Create", new { }, new { @class = "btn btn-primary" })
	</div>
	<div class="col-md-11">

		@using (Html.BeginForm("Index", "Agents"))
		{
			<div class="form-group">
				<strong>Логин: </strong> <input type="text" name="searchString" value="@Model.SearchString" data-autocomplete-source='@Url.Action("AutocompleteSearch","Agents")'/>
				<input type="submit" value="Поиск" class="btn btn-primary" />
			</div>
		}
	</div>
</div>

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.PagedAgents.ToList().FirstOrDefault().Name)
			@Html.Sort(Model.SearchString,Model.PagedAgents.PageNumber.ToString(),"Name",Model.SelectedEntityName,Model.SortOrder)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedAgents.ToList().FirstOrDefault().Login)
			@Html.Sort(Model.SearchString, Model.PagedAgents.PageNumber.ToString(), "Login", Model.SelectedEntityName, Model.SortOrder)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedAgents.ToList().FirstOrDefault().Algorithm)
			@Html.Sort(Model.SearchString, Model.PagedAgents.PageNumber.ToString(), "Algorithm", Model.SelectedEntityName, Model.SortOrder)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedAgents.ToList().FirstOrDefault().WorkloadMaxContactsCount)
			@Html.Sort(Model.SearchString, Model.PagedAgents.PageNumber.ToString(), "WorkloadMaxContactsCount", Model.SelectedEntityName, Model.SortOrder)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedAgents.ToList().FirstOrDefault().IsAlgorithmAllowServiceLevel)
			@Html.Sort(Model.SearchString, Model.PagedAgents.PageNumber.ToString(), "IsAlgorithmAllowServiceLevel", Model.SelectedEntityName, Model.SortOrder)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedAgents.ToList().FirstOrDefault().Group.Name)
			@Html.Sort(Model.SearchString, Model.PagedAgents.PageNumber.ToString(), "Group", Model.SelectedEntityName, Model.SortOrder)
		</th>
		<th>

		</th>
	</tr>

	@foreach (var agent in Model.PagedAgents)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => agent.Name)
			</td>
			<td>
				@Html.DisplayFor(model => agent.Login)
			</td>
			<td>
				@Html.DisplayFor(model => agent.AlgorithmName)
			</td>
			<td>
				@Html.DisplayFor(model => agent.WorkloadMaxContactsCount)
			</td>
			<td>
				@Html.DisplayFor(model => agent.IsAlgorithmAllowServiceLevel)
			</td>
			<td>
				@Html.DisplayFor(model => agent.Group.Name)
			</td>
			<td>
				<a href=@Url.Action("Edit", new {id=agent.Id })><i class="fa fa-edit"></i></a>
				|
				<a href=@Url.Action("Delete", new {id=agent.Id })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>

	Страница @(Model.PagedAgents.PageCount < Model.PagedAgents.PageNumber ?0: Model.PagedAgents.PageNumber) из @Model.PagedAgents.PageCount
	@Html.PagedListPager(Model.PagedAgents, currentPage => Url.Action("Index", new { page = currentPage, searchString = @Model.SearchString, sortOrder=@Model.SortOrder, selectedEntityName=@Model.SelectedEntityName }))

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
			var target = $(this);
			target.autocomplete({ source: target.attr("data-autocomplete-source"), minLength: 3, classes: { "class": "btn btn-primary"} });
        });
    });
</script>