@model PagedList.PagedList<ControlPanel.Models.Agent>
@using PagedList.Mvc

<h2>Index</h2>

<p>
	@Html.ActionLink("Добавить", "Create")
</p>

@using (Html.BeginForm("Index", "Agents"))
{
	<p>
		<strong>Логин: </strong> <input type="text" name="searchString" />
		<input type="submit" value="Поиск" />
	</p>
}

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Login)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Algorithm)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().WorkloadMaxContactsCount)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().IsAlgorithmAllowServiceLevel)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().IsActive)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Group.Name)
		</th>
		<th>

		</th>
	</tr>

	@foreach (var agent in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => agent.Name)
			</td>
			<td>
				@Html.DisplayFor(model => agent.Login)
			</td>
			<td>
				@Html.DisplayFor(model => agent.Algorithm)
			</td>
			<td>
				@Html.DisplayFor(model => agent.WorkloadMaxContactsCount)
			</td>
			<td>
				@Html.DisplayFor(model => agent.IsAlgorithmAllowServiceLevel)
			</td>
			<td>
				@Html.DisplayFor(model => agent.IsActive)
			</td>
			<td>
				@Html.DisplayFor(model => agent.Group.Name)
			</td>
			<td>
				@Html.ActionLink("Редактировать", "Edit", new { id = agent.Id }) |
				@Html.ActionLink("Удалить", "Delete", new { id = agent.Id })
			</td>
		</tr>
	}
</table>

Страница @(Model.PageCount< Model.PageNumber?0:Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
