@model ControlPanel.ViewModels.SkillCreateViewModel

<h2>Edit</h2>

@using(Html.BeginForm())
{
	<div class="form-horizontal">
		<h4>Skill</h4>
		<hr />

		@Html.HiddenFor(model=>model.Skill.Id)

		<div class="form-group">
			@Html.LabelFor(model=>model.Skill.Name, new {@class="control-label col-md-2"})
			<div class="col-md-10">
				@Html.EditorFor(model=>model.Skill.Name, new {htmlAttributes=new {@class="form-control"} })
				@Html.ValidationMessageFor(model=>model.Skill.Name,"",new { @class="text-danger"})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.Skill.Key, new { @class="control-label col-md-2"})
			<div class="col-md-10">
				@Html.EditorFor(model=>model.Skill.Key, new { htmlAttributes=new {@class="form-control"}})
				@Html.ValidationMessageFor(model=>model.Skill.Key,"",new { @class="text-danger"})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.Skill.Algorithm, new { @class="control-label col-md-2"})
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Skill.Algorithm, Model.Algorithms as SelectList, htmlAttributes: new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-10 col-md-offset-2">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
<div>
	@Html.ActionLink("Маршруты","SkillRoutes", new { id=Model.Skill.Id})
</div>
