@using PagedList.Mvc
@using ControlPanel.ViewModels
@model ControlPanel.ViewModels.SkillsIndexViewModel 

<h2>Index</h2>
<hr />

<div class="row">
	<div class="col-md-1">
		@Html.ActionLink("Добавить", "Create", new { }, new { @class = "btn btn-primary" })
	</div>
	<div class="col-md-11 form-inline">

		@using (Html.BeginForm("Index", "Skills"))
		{
			<div class="form-group">
				<label class="control-label">ID навыка: </label>
				<input type="text" name="searchString" value="@Model.SearchString" data-autocomplete-source='@Url.Action("AutocompleteSearch","Agents")' class="form-control" />
				<input type="submit" value="Поиск" class="btn btn-primary" />
			</div>
		}
	</div>
</div>
<br />

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.PagedSkills.ToList().FirstOrDefault().Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedSkills.ToList().FirstOrDefault().Key)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedSkills.ToList().FirstOrDefault().Algorithm)
		</th>
		<th></th>
	</tr>

	@foreach (var skill in Model.PagedSkills)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => skill.Name)
			</td>
			<td>
				@Html.DisplayFor(model => skill.Key)
			</td>
			<td>
				@Html.DisplayFor(model => skill.AlgorithmName)
			</td>
			<td>
				<a href=@Url.Action("Edit", new { id = skill.Id })><i class="fa fa-edit"></i></a>
				|
				<a href=@Url.Action("Delete", new { id = skill.Id })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>

Страница @(Model.PagedSkills.PageCount<Model.PagedSkills.PageNumber?0:Model.PagedSkills.PageNumber) из @Model.PagedSkills.PageCount
@Html.PagedListPager(Model.PagedSkills, currentPage => Url.Action("Index", new { page = currentPage, searchString = Model.SearchString }))

