@model PagedList.PagedList<ControlPanel.Models.Skill>
@using PagedList.Mvc 
<h2>Index</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>

@using(Html.BeginForm("Index","Skills"))
{
	<p>
		<strong>ID навыка:</strong> <input type="text" name="searchString"/>
		<input type="submit" value="Поиск"/>
	</p>
}

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model=>model.ToList().FirstOrDefault().Name)
		</th>
		<th>
			@Html.DisplayNameFor(model=>model.ToList().FirstOrDefault().Key)
		</th>
		<th>
			@Html.DisplayNameFor(model=>model.ToList().FirstOrDefault().Algorithm)
		</th>
		<th>
			@Html.DisplayNameFor(model=>model.ToList().FirstOrDefault().IsActive)
		</th>
		<th></th>
	</tr>
	@foreach(var skill in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(item=>skill.Name)
			</td>
			<td>
				@Html.DisplayFor(item=>skill.Key)
			</td>
			<td>
				@Html.DisplayFor(item=>skill.Algorithm)
			</td>
			<td>
				@Html.DisplayFor(item=>skill.IsActive)
			</td>
			<td>
				@Html.ActionLink("Edit","Edit",new {id=skill.Id }) |
				@Html.ActionLink("Delete","Delete", new {id=skill.Id })
			</td>
		</tr>
	}
</table>

Страница @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page=>Url.Action("Index", new {page }))

