@using PagedList.Mvc
@using ControlPanel.ViewModels
@using ControlPanel.Models
@using ControlPanel.Helpers
@model ControlPanel.ViewModels.SkillsIndexViewModel 

<h2>Навыки в системе</h2>
<hr />

<div class="row">
	<div class="col-md-1">
		@Html.ActionLink("Добавить", "Create", new { }, new { @class = "btn btn-primary" })
	</div>
	<div class="col-md-11 form-inline">

		@using (Html.BeginForm("Index", "Skills"))
		{
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i> </span>
				<input type="text" name="searchString" value="@Model.SearchString" data-autocomplete-source='@Url.Action("AutocompleteSearch","Skills")' class="form-control" placeholder="Введите ID навыка" />
			</div>
			<div class="input-group">
				<span class="input-group-addon">Алгоритм</span>
				@Html.DropDownList(nameof(Model.SelectedAlgorithmId), Model.Algorithms as SelectList, "--", new { @class = "form-control" })
			</div>
			<input type="submit" value="Поиск" class="btn btn-primary" />
		</div>
		}
	</div>
</div>
<br />

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.PagedSkills.ToList().FirstOrDefault().Name)
			@Html.Sort(Model.SearchString, Model.PagedSkills.PageNumber.ToString(), nameof(Skill.Name), Model.SelectedSortProperty, Model.SortOrder, (nameof(Model.SelectedAlgorithmId),Model.SelectedAlgorithmId.ToString()))
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedSkills.ToList().FirstOrDefault().Key)
			@Html.Sort(Model.SearchString, Model.PagedSkills.PageNumber.ToString(), nameof(Skill.Key), Model.SelectedSortProperty, Model.SortOrder, (nameof(Model.SelectedAlgorithmId), Model.SelectedAlgorithmId.ToString()))
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedSkills.ToList().FirstOrDefault().Algorithm)
			@Html.Sort(Model.SearchString, Model.PagedSkills.PageNumber.ToString(), nameof(Skill.Algorithm), Model.SelectedSortProperty, Model.SortOrder, (nameof(Model.SelectedAlgorithmId), Model.SelectedAlgorithmId.ToString()))
		</th>
		<th>
			Маршруты
		</th>
		<th></th>
	</tr>

	@foreach (var skill in Model.PagedSkills)
	{
		<tr>
			<td>
				<a href=@Url.Action("Edit", new { id = skill.Id })>@Html.DisplayFor(model => skill.Name)</a>
			</td>
			<td>
				@Html.DisplayFor(model => skill.Key)
			</td>
			<td>
				@Html.DisplayFor(model => skill.AlgorithmName)
			</td>
			<td>
				<a href=@Url.Action("SkillRoutes", new {id=skill.Id })><i class="fa fa-navicon"></i></a>
			</td>
			<td>
				<a href=@Url.Action("Edit", new { id = skill.Id })><i class="fa fa-edit"></i></a>
				|
				<a href=@Url.Action("Delete", new { id = skill.Id }) class="deleteSkill"><i class="fa fa-close"></i></a>
			</td>
			
		</tr>
	}
</table>

Страница @(Model.PagedSkills.PageCount<Model.PagedSkills.PageNumber?0:Model.PagedSkills.PageNumber) из @Model.PagedSkills.PageCount
@Html.PagedListPager(Model.PagedSkills, currentPage => Url.Action("Index", new { page = currentPage, searchString = Model.SearchString, selectedAlgorithmId=Model.SelectedAlgorithmId }))

<div id="modDialog" class="modal fade" tabindex="-1" role="dialog">
	<div id="dialogContent" class="modal-dialog" role="document"></div>
</div>

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
			var target = $(this);
			target.autocomplete({ source: target.attr("data-autocomplete-source"), minLength: 1, classes: { "class": "btn btn-primary"} });
        });
    });
</script>

<script>

	$(function () {
		$.ajaxSetup({ cache: false });
		$(".deleteSkill").click(function (e) {

			e.preventDefault();
			$.get(this.href, function (data) {
				$('#dialogContent').html(data);
				$('#modDialog').modal('show');
			});
		});
	})
</script>