@using PagedList.Mvc
@using ControlPanel.Helpers
@using ControlPanel.ViewModels
@using ControlPanel.Models
@model ControlPanel.ViewModels.GroupsIndexViewModel


<h2>Index</h2>
<hr />

<div class="row">
	<div class="col-md-1">
		@Html.ActionLink("Добавить", "Create", new { }, new { @class = "btn btn-primary" })
	</div> 
	<div class="col-md-11 form-inline">

		@using (Html.BeginForm("Index", "Groups"))
		{
			<div class="form-group">
				@*<label class="control-label">Группа: </label>*@
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" name="searchString" value="@Model.SearchString" data-autocomplete-source='@Url.Action("AutocompleteSearch","Groups")' class="form-control" placeholder="Введите группу" />
				</div>				
				<input type="submit" value="Поиск" class="btn btn-primary" />
			</div>
		}
	</div>
</div>
<br />

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.PagedGroups.ToList().FirstOrDefault().Name)
			@Html.Sort(Model.SearchString, Model.PagedGroups.PageNumber.ToString(), nameof(Group.Name), Model.SelectedSortProperty, Model.SortOrder)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedGroups.ToList().FirstOrDefault().Description)
			@Html.Sort(Model.SearchString, Model.PagedGroups.PageNumber.ToString(), nameof(Group.Description), Model.SelectedSortProperty, Model.SortOrder)
		</th>
		<th></th>
	</tr>

	@foreach (var group in Model.PagedGroups)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => group.Name)
			</td>
			<td>
				@Html.DisplayFor(model => group.Description)
			</td>
			<td>
				<a href=@Url.Action("Edit", new { id = group.Id })><i class="fa fa-edit"></i></a>
				|
				<a href=@Url.Action("Delete", new { id = group.Id })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>

Страница @(Model.PagedGroups.PageCount< Model.PagedGroups.PageNumber?0:Model.PagedGroups.PageNumber) из @Model.PagedGroups.PageCount
@Html.PagedListPager(Model.PagedGroups, currentPage => Url.Action("Index", new { page = currentPage, searchString = Model.SearchString }))

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
			var target = $(this);
			target.autocomplete({ source: target.attr("data-autocomplete-source"), minLength: 3, classes: { "class": "btn btn-primary"} });
        });
    });
</script>