<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width-device-width" />
	<title>Control Panel Agent</title>
</head>
<body>
	<div>
		<h3>Книги qqqq</h3>
		<p>
			@Html.ActionLink("Create NEW", "Create")
		</p>
		<table class="table table-hover">
			<tr>
				<th><p>Название</p></th>
				<th><p>Автор</p></th>
				<th><p>Цена</p></th>
				<th></th>
			</tr>
			@foreach (var book in ViewBag.Books)
			{
				<tr>
					<td><p>@book.Name</p></td>
					<td><p>@book.Author</p></td>
					<td><p>@book.Price</p></td>
					<td><p><a href="/Home/Buy/@book.Id">Покупка</a></p></td>
				</tr>
			}
		</table>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</body>


</html>

