@model ControlPanel.Models.Route

<h2>Create</h2>

@using (Html.BeginForm())
{
	<div class="form-horizontal">
		<h4>Route</h4>
		<hr/>

		<div class="form-group">
			@Html.LabelFor(model=>model.Name)
			<div>
				@Html.EditorFor(model=>model.Name)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.Key)
			<div>
				@Html.EditorFor(model=>model.Key)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model=>model.IsActive)
			<div>
				@Html.EditorFor(model=>model.IsActive)
			</div>
		</div>
		
		<div class="form-group">
			@Html.LabelFor(model=>model.SkillId)
			<div>
				@Html.DropDownListFor(model=>model.SkillId,ViewBag.Skills as SelectList)
			</div>
		</div>

		<div>
			<div>
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>


	</div>
}

