@model PagedList.PagedList<ControlPanel.Models.Route>
@using PagedList.Mvc 

<h2>Index</h2>

<p>
	@Html.ActionLink("Добавить","Create")
</p>

@using(Html.BeginForm("Index","Routes"))
{
	<p>
		<strong>ID маршрута: </strong> <input type="text" name="searchString"/>
		<input type="submit" value="Поиск"/>
	</p>
}

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Key)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Skill.Name)
		</th>
		<th></th>
	</tr>

	@foreach (var route in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => route.Name)
			</td>
			<td>
				@Html.DisplayFor(model => route.Key)
			</td>
			<td>
				@Html.DisplayFor(model => route.Skill.Name)
			</td>
			<td>
				@Html.ActionLink("Редактировать", "Edit",new {id= route.Id }) |
				@Html.ActionLink("Удалить", "Delete",new {id= route.Id })
			</td>
		</tr>
	}
</table>

Страница @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model,page=>Url.Action("Index",new {page }))


