@using PagedList.Mvc
@using ControlPanel.ViewModels
@using ControlPanel.Models
@using ControlPanel.Helpers
@model ControlPanel.ViewModels.RoutesIndexViewModel


<h2>Index</h2>
<hr />

<div class="row">
	<div class="col-md-1">
		@Html.ActionLink("Добавить", "Create", new { }, new { @class = "btn btn-primary" })
	</div>
	<div class="col-md-11 form-inline">

		@using (Html.BeginForm("Index", "Routes"))
		{
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input type="text" name="searchString" value="@Model.SearchString" data-autocomplete-source='@Url.Action("AutocompleteSearch","Routes")' class="form-control" placeholder="Введите ID маршрута" />
				</div>
				<div class="input-group">
					<span class="input-group-addon">Навык</span>
					@Html.DropDownList(nameof(Model.SelectedSkillId), Model.Skills as SelectList,"--", new { @class = "form-control" })
				</div>
				<input type="submit" value="Поиск" class="btn btn-primary" />
			</div>
		}
	</div>
</div>
<br />

<table class="table table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.PagedRoutes.ToList().FirstOrDefault().Name)
			@Html.Sort(Model.SearchString, Model.PagedRoutes.PageNumber.ToString(), nameof(ControlPanel.Models.Route.Name), Model.SelectedSortProperty, Model.SortOrder, (nameof(Model.SelectedSkillId), Model.SelectedSkillId.ToString()))
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedRoutes.ToList().FirstOrDefault().Key)
			@Html.Sort(Model.SearchString, Model.PagedRoutes.PageNumber.ToString(), nameof(ControlPanel.Models.Route.Key), Model.SelectedSortProperty, Model.SortOrder, (nameof(Model.SelectedSkillId), Model.SelectedSkillId.ToString()))
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PagedRoutes.ToList().FirstOrDefault().Skill.Name)
			@Html.Sort(Model.SearchString, Model.PagedRoutes.PageNumber.ToString(), nameof(ControlPanel.Models.Route.Skill), Model.SelectedSortProperty, Model.SortOrder, (nameof(Model.SelectedSkillId), Model.SelectedSkillId.ToString()))
		</th>
		<th></th>
	</tr>
	<tr>
		@*<th>
			<input type="text"class="form-control"/>
		</th>
		<th>
			<input type="text"class="form-control"/>
		</th>
		<th>
			@Html.DropDownList("skillId", Model.Skills as SelectList, "--", new { @class = "form-control" })
		</th>
		<th>
			<input type="submit" class="form-control" />
		</th>*@
	</tr>

	@foreach (var route in Model.PagedRoutes)
	{
		<tr>
			<td>
				@Html.DisplayFor(model => route.Name)
			</td>
			<td>
				@Html.DisplayFor(model => route.Key)
			</td>
			<td>
				@Html.DisplayFor(model => route.Skill.Name)
			</td>
			<td>
				<a href=@Url.Action("Edit", new { id = route.Id })><i class="fa fa-edit"></i></a>
				|
				<a href=@Url.Action("Delete", new { id = route.Id })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>

Страница @(Model.PagedRoutes.PageCount<Model.PagedRoutes.PageNumber?0:Model.PagedRoutes.PageNumber) из @Model.PagedRoutes.PageCount
@Html.PagedListPager(Model.PagedRoutes, currentPage => Url.Action("Index", new { page = currentPage, searchString = Model.SearchString, sortOrder = Model.SortOrder, selectedEntityName = Model.SelectedSortProperty, selectedSkillId=Model.SelectedSkillId.ToString() }))

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
			var target = $(this);
			target.autocomplete({ source: target.attr("data-autocomplete-source"), minLength: 1, classes: { "class": "btn btn-primary"} });
        });
    });
</script>
