@model ControlPanel.ViewModels.ReportsIndexViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<h2>Отчеты в системе</h2>

	@using (Html.BeginForm("GetReport", "Reports"))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.Report.Name, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-3">
					@Html.DropDownListFor(model => model.Report.Name, Model.ReportNames as SelectList, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.Report.Name, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Report.DateFrom, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-3">
					@Html.EditorFor(model => model.Report.DateFrom, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
					@Html.ValidationMessageFor(model => model.Report.DateFrom, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Report.DateTo, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-3">
					@Html.EditorFor(model => model.Report.DateTo, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
					@Html.ValidationMessageFor(model => model.Report.DateTo, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-10">
					@*<input type="submit" value="Download" name="actionName" class="btn btn-default" />
						<input type="submit" value="Preview" name="actionName" class="btn btn-primary"/>*@

					<button name="actionName" class="btn btn-default" value="Download"><i class="fa fa-download"></i> Скачать</button>
					<button name="actionName" class="btn btn-primary" value="Preview">Просмотр</button>
				</div>
			</div>
		</div>
	}
</body>
</html>
